.row {
  color: white;
  margin-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: cover; /* Use cover for better image cropping */
  width: auto; /* Adjust width for responsiveness */
  max-height: 100px;
  margin-right: 10px;
  transition: transform 0.3s ease; /* Faster transition for smoother effect */
}

.row_poster:hover {
  transform: scale(1.05); /* Adjust scaling effect */
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.06); /* Adjust scaling effect */
}